.btn {
  text-decoration: none;
  padding: 1.6rem;
  display: inline-block;
  border-radius: 0.85rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 0;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.3);

  &--green {
    background: linear-gradient($brand-primary, $brand-secondary);
    color: #fff;
    border: 2px solid #fff;
    text-shadow: 0 0.1rem rgba(0, 0, 0, 0.3);
  }
}