.site-header {
  position: absolute;
  width: 100%;
  padding: 0;

  &__menu-icon {
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    z-index: 10;
    right: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2.6rem;
      height: 0.3rem;
      background-color: #fff ;
    }

    &__middle {
      position: absolute;
      top: 1.2rem;
      left: 0;
      width: 2.6rem;
      height: 0.3rem;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2.6rem;
      height: 0.3rem;
      background-color: #fff;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;
    padding-top: 100px;
    text-align: center;

    @mixin atMedium {
      display: block;
      padding-top: 0;
    }
    
    &--visible {
    display: block;
    transition: 0.5s;
    }
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;

  @mixin atMedium {
    max-width: 900px;
  }

  @mixin atLarge {
    max-width: 1100px;
  }
}

.logo {
  max-width: 20rem;
  mix-blend-mode: multiply;
  cursor: pointer;

  @mixin atSmall {
    max-width: 24rem;
  }
}