.site-header {
  position: absolute;
  width: 100%;
  padding-top: 2rem;

  &--expanded {
    background-color: rgba($brand-secondary, 0.8);
  }

  &__menu-icon {
    width: 2.2rem;
    height: 1.9rem;
    position: absolute;
    z-index: 10;
    right: 3rem;
    top: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2.2rem;
      height: 0.3rem;
      background-color: #fff ;
    }

    &__middle {
      position: absolute;
      top: 0.8rem;
      left: 0;
      width: 2.2rem;
      height: 0.3rem;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2.2rem;
      height: 0.3rem;
      background-color: #fff;
    }

    @mixin atMedium {
      display: none;
      padding-top: 3rem;
    }
  }

  &__menu-content {
    display: none;
    padding-top: 6rem;
    text-align: center;

    @mixin atMedium {
      display: block;
      padding-top: 0;
    }
    
    &--visible {
    display: block;
    padding-bottom: 5rem;
    }
  }
}

.logo {
  float: left;
  max-width: 18rem;
  mix-blend-mode: multiply;

  @mixin atSmall {
    max-width: 24rem;
  }
}
