.hero {
  background-color: $brand-primary;
  height: 100vh;

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  &__title {
    font-size: 3rem;
    color: #000;

    @mixin atSmall {
      font-size: 3.6rem;
    }
  }

  &__intro {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #fff;

    @mixin atSmall {
      font-size: 2.7rem;
      line-height: 3rem;
    }
  }
}