.primary-nav {
  
  &--pull-right {
  }

  @mixin atMedium {
    float: right;
  }

  &__nav-links {
    list-style: none;
    font-size: 1.4rem;
    padding-left: 0;
  }

  &__nav-links li {
    display: list-item;
    padding: 1rem 1rem;

    @mixin atSmall {
      display: inline-block;
    }
  }

  &__nav-links li a {
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  &__nav-links li a:hover {
    color: green;
  }

  @mixin atMedium {
    display: block;
  }
}