.hero {
  background-color: $brand-primary;
  height: 100vh;

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  &__title {
    font-size: 3rem;
    color: #000;

    @mixin atSmall {
      font-size: 3.6rem;
    }
  }

  .intro {
    font-size: 2rem;
    line-height: 2.2rem;

    @mixin atSmall {
      font-size: 2.7rem;
      line-height: 3rem;
    }

    &__hero {
      color: #fff;
    }

    &__overview {
      color: #000;
    }

    &__benefits {
      color: $brand-primary;
    }
  }
}

#overview {
  h2, h3 {
    color: $brand-primary;
  }
}

#benefits {
  .wrapper {
    max-width: 1110px;
  }
}

.benefits__title {
  font-size: 1.8rem;
  font-weight: 400;;
  color: #000;
}