.hero {
  background: linear-gradient($brand-primary 60%, $brand-primary, $brand-secondary);
  height: 100vh;

  .image-bt-logo {
    max-width: 40rem;
    padding-bottom: 3rem;
    mix-blend-mode: multiply;

    @mixin atSmall {
      max-width: 45rem;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 4rem;
  }

  &__title {
    font-size: 2.2rem;
    color: #000;

    @mixin atSmall {
      font-size: 3.6rem;
      margin-top: 2rem;
    }
  }
}

.intro {
  font-size: 1.8rem;
  line-height: 2.3rem;

  &__hero {
    color: #fff;
  }

  &__overview {
    color: #000;
  }

  &__benefits,
  &__about-us {
    color: $brand-primary;
  }

  @mixin atSmall {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  &__contact-us {
    color: #000;
    font-size: 1.6rem;

    @mixin atSmall {
      font-size: 2.1rem;
      line-height: 2.6rem;
    }
  }
}

#overview {
  background: linear-gradient($mid-grey 5%, $light-grey 30%, $light-grey);

  h2, h3 {
    color: $brand-primary;
  }
}

#benefits {
  .wrapper {
    max-width: 1110px;
  }
}

#about-us {
  background-color: $light-grey;
}

#contact-us {
  & h2 {
    font-size: 1.8rem;
    color: white;

    @mixin atSmall {
        font-size: 2.8rem;
      }
    }
}

.benefits__title {
  font-size: 1.8rem;
  font-weight: 400;;
  color: #000;
}